{% extends "base/base.html" %}

{% block contents %}

<!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-table"></i>Master Data</li>
              <li><i class="fa fa-th-list"></i>Data Warga</li>
            </ol>
          </div>
        </div>
        <!-- page start-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Responsive tables
              </header>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>No KK</th>
                      <th>No NIK</th>
                      <th>Nama</th>
                      <th>Agama</th>
                      <th>Tempat Lahir</th>
                      <th>Tanggal Lahir</th>
                      <th>Jenis Kelamin</th>
                      <th>Golongan Darah</th>
                      <th>Alamat KTP</th>
                      <th>Alamat Sekarang</th>
                      <th>Status Perkawinan</th>
                      <th>Pendidikan</th>
                      <th>Pekerjaan</th>
                      <th>Kewarganegaraan</th>
                      <th>No Telpon</th>
                      {% if user.is_authenticated %}
                      <th>Aksi</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for warga in object_list  %}
                    <tr>
                      <td>{{warga.no_kk}}</td>
                      <td>{{warga.nik}}</td>
                      <td>{{warga.nama}}</td>
                      <td>{{warga.agama}}</td>
                      <td>{{warga.tempat_lahir}}</td>
                      <td>{{warga.tgl_lahir}}</td>
                      <td>{{warga.jenis_kelamin}}</td>
                      <td>{{warga.gol_darah}}</td>
                      <td>{{warga.alamat_ktp}}</td>
                      <td>{{warga.alamat_sekarang}}</td>
                      <td>{{warga.status_perkawinan}}</td>
                      <td>{{warga.pendidikan}}</td>
                      <td>{{warga.pekerjaan}}</td>
                      <td>{{warga.kewarganegaraan}}</td>
                      <td>{{warga.no_telpon}}</td>
                      {% if user.is_authenticated %}
                          <td>
                            <a href="{% url 'index:update-data-warga' warga.pk %}" class="fa fa-pencil-square-o" aria-hidden="true"></a>
                            
                            <a href="{% url 'index:delete-data-warga' warga.pk %}" class="far fa-trash-alt"></a>
                          </td>
                      
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>


                  {% if is_paginated %}

                  <nav class="mx-auto" aria-label="...">
                    <ul class="pagination">

                      {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="{% url 'index:list-data-warga' page_obj.previous_page_number  %}">Previous</a>
                        </li>
                      {% else %}
                        <li class="page-item disabled">
                          <span class="page-link" href="#">Previous</span>
                        </li>
                      {% endif %}

                      {% for page in paginator.page_range %}
                        {% if page is page_obj.number  %}
                          <li class="page-item active" aria-current="page">
                              <a class="page-link" href="{% url 'index:list-data-warga' page %}">{{page}}</a>
                          </li>
                        {% else %}
                          <li class="page-item" aria-current="page">
                              <a class="page-link" href="{% url 'index:list-data-warga' page %}">{{page}}</a>
                          </li>
                        {% endif %}
                      {% endfor %}

                      {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="{% url 'index:list-data-warga' page_obj.next_page_number  %}">Next</a>
                        </li>
                      {% else %}
                        <li class="page-item disabled">
                          <span class="page-link" href="#">Next</span>
                        </li>
                      {% endif %}

                    </ul>
                  </nav>
                  {% endif %}

              </div>

            </section>
          </div>
        </div>
        
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
    
{% endblock contents %}